<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Création de compte</h3>
                    </div>
                    <div class="panel-body">
						<%= render "form" %>
					</div>
                </div>
            </div>
        </div>
    </div>