<h1>Home#login</h1>
<p>Find me in app/views/home/login.html.erb</p>

<%= form_for :user do |u| %>
	<%= u.text_field :username %>
	<br />
	<%= u.password_field :password %>
	<br /><br />
	<%= u.submit "Login" %>
<% end %>
	