<% content_for :jumbo do %>
	<h1>Liste de vos comptes</h1>
	<p>
		Ajouter un compte : 
		<%= link_to "Nouveau Compte", "new", class: "btn btn-primary" %>
	</p>
<% end %>


<% @bankAccount.each do |b| %>
	<%= b.name %>&nbsp;(<%= b.smart_final_amount %>)&nbsp;<%= link_to "Modifier", "Edit" %><br />
<% end %>
