<% content_for :jumbo do %>
	<h1 class="page-header">Evolution d'un poste</h1>
<% end %>

<div class="row">

	<div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Paramètres</h3>
            </div>
            <div class="panel-body">
				<div class="form-group">	
					<%= label "Compte", "Compte", class: "col-sm-3 control-label" %>
					<div class="col-sm-8">
						<%= collection_select(:bank_account, :bank_account_id, BankAccount.where(user_id: session[:current_user_id]).order(:bank_account_type_id).order(:name), :id, :name, {}, { class: "form-control"}) %>	
					</div>	
				</div>	
				<br />
				<div class="form-group">	
					<%= label "Poste", "Poste", class: "col-sm-3 control-label" %>
					<div class="col-sm-8">
						<%= collection_select(:operation_classification, :operation_classification_id, OperationClassification.
						where(user_id: session[:current_user_id]).order(:wording), :id, :wording, {}, { class: "form-control"}) %>	
					</div>	
				</div>					
				<br />
				
				<button id="valid_btn" class="btn btn-lg btn-success btn-block">Valider</button>
					
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				Evolution du poste
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="flot-chart">
					<div class="flot-chart-content" id="flot-bar-chart" style="padding: 0px; position: relative;">
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
</div>

<script>
//Flot Bar Chart

	$(document).ready(function() {			
		loadChart();
	});
	
	$('#valid_btn').on('click', function (e) {
		loadChart();
	});

	function loadChart(){
	
		$.ajax({
			url: "/stats/evolution_poste_data",
			data: 	{ 	
						operation_classification_id : $("#operation_classification_operation_classification_id").val(),
						bank_account_id: $("#bank_account_bank_account_id").val()
					},
			type: "POST",
			format: "json"
		}).done(
			function(jsonData) {
				var chartData = [];
				for(var i = 0; i<jsonData.length; i++){					
					chartData.push([jsonData[i][0] * 1000, jsonData[i][1]]);
				}				
				
				var options = {
					xaxis: {
						mode: "time",
						timeformat: "%b %y", 
						minTickSize: [1, "month"]
					},
					yaxis: {                
						tickFormatter: function (v, axis) {
							return v + "€";
						}
					},    
					series: {            
						lines: {
							show: true,
							fill: true
						}
					}
				};	
				
				var data = [
					{
						data: chartData,
						color: "orange"
					}
				];
				$.plot($("#flot-bar-chart"), data, options);	
			}
		).fail(
			function() {
				console.log( "error" );
				})
				
		};		
</script>
